* {
    font-size: 24px;
  }


  .pipe-container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
  }
  
  .initials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid blueviolet;
    background-color: rgb(238, 225, 250);
    color: rgb(141, 32, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }

